<h1>Customers</h1>

<!-- {{customers}} -->

<h3>Add a new customer</h3>
<form>
	<p>Customer Name: <input type="text" name="" ng-model="cust.name">
	<input type="submit" name="" value="Add" ng-click="addCustomer()"></p>
</form>

<h3>Existing Customers</h3>

<table>
	<thead>
		<tr><th>Customer Name</th><th>Created Date</th><th>Actions</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="c in customers">
		<td>{{c.name}}</td>
		<td>{{c.createdAt | date:"MMMM dd yyyy"}}</td>
		<td><button ng-click="delete(c._id)">Remove</button></td>
		</tr>
	</tbody>
</table>